#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
body {
  margin: 0; /* Remove default margin */
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainContent {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* Desktop styles */
@media (min-width: 1024px) {
  /* CSS rules for desktop screens */
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  #root {
    padding: 1rem;
  }
  /* CSS rules for tablet screens */
}

/* Mobile styles */
@media (max-width: 767px) {
  /* CSS rules for mobile screens */
}

body {
  background-color: rgb(255, 255, 255);
}
.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "main";
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(231, 255, 231);
}
.header h1 {
  color: #333;
}
.navbar {
  position: fixed;
  margin-left: 0;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: green;
}

.mainContent {
  margin-top: 180px; /* Adjust the margin-top value to create space below the fixed header and navbar */
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  padding-right: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
nav {
  text-align: center;

  justify-content: space-between;

  padding: 20px;
  padding-left: 25rem;

  width: 100%;
}
.navbar_link:hover {
  color: #333;
  cursor: pointer;
}
.articles_list {
  align-content: center;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-content: center;
  padding: 0;
  text-align: justify;
  margin: 20px;
}
.card h3 {
  font-weight: bold;
  width: 370px;

  text-align: justify;
  overflow-wrap: break-spaces;
  word-break: normal;
}

.card {
  padding: auto;
  margin: 10px;
  word-break: break-all;
  justify-content: center;
  align-items: center;
}
.card img {
  max-width: 380px;
}
.card a {
  color: black;
  text-decoration: none;
  width: 250px;
}
a:hover {
  color: green;
}
.dateAndcomments {
  color: grey;
  font-size: small;
  padding-top: 0;
  margin-top: 0;
}
.individual_container {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-content: center;
  padding: 0;
  text-align: justify;
  max-width: fit-content;
}
.IndividualArticle {
  margin: auto;
  padding: auto;
  max-width: 600px;
  align-content: center;
}
.IndividualArticle img {
  max-width: 600px;
}
.IndividualArticle h3 {
  align-content: center;
}
.IndividualArticle p {
  text-align: justify;
}
.article-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(51, 51, 51);
}
.author {
  font-style: italic;
  font-weight: bold;
  color: rgb(77, 77, 77);
}
.Recent_Articles {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  align-content: center;
  padding: 0;
  text-align: justify;
}
.commentsContainer {
  padding-left: 0;
  align-content: center;
  margin: 0;
  max-width: 550px;
  border-radius: 10px;
  border: 1px solid rgb(202, 202, 202);
}
.comments {
  width: 500px;
  align-content: center;
  text-align: justify;
  margin: 20px;
  font-size: small;
  color: rgb(104, 104, 104);
}
.commentsbody {
  padding: 10px;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: green;
  color: rgb(72, 72, 72);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.comments p {
  margin: 0;
}
.commentsspan {
  width: 170px;
  align-items: center;
  padding: 10px;
  font-size: large;
  text-decoration: underline;
  color: green;

  font-weight: bold;
  font-size: medium;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
}
.commentsspan :hover {
  color: blueviolet;
}
.votesUdate p {
  font-size: medium;
  color: rgb(87, 87, 87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.voteButton {
  width: 2.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  float: left;
  background-color: rgb(243, 252, 243);
  border: 2px green solid;
  border-radius: 10px;
}
.commentForm {
  margin: 20px;
  padding: 10px;
}
.commentInput {
  align-items: left;
  width: 450px;
  height: 50px;
  text-align: left;
}
