#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  #root {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  /* Styles for screens smaller than 576px */
}
.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "main";
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
}
h1 {
  font-size: 2.4em;
  margin-bottom: 10px;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  margin: 20px;
}
nav {
  text-align: right;
  padding-right: 60px;
}
.articles_list {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-content: center;
  padding: 0;
  text-align: justify;
}
.card h3 {
  font-weight: bold;
  width: 370px;

  text-align: justify;
  overflow-wrap: break-spaces;
  word-break: normal;
}

.card {
  padding: auto;
  margin: 10px;
  word-break: break-all;
  justify-content: center;
  align-items: center;
}
.card img {
  max-width: 380px;
}
.card a {
  color: black;
  text-decoration: none;
  width: 250px;
}
a:hover {
  color: green;
}
.dateAndcomments {
  color: grey;
  font-size: small;
  padding-top: 0;
  margin-top: 0;
}
.individual_container {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-content: center;
  padding: 0;
  text-align: justify;
  max-width: fit-content;
}
.IndividualArticle {
  margin: auto;
  padding: auto;
  max-width: 600px;
  align-content: center;
}
.IndividualArticle img {
  max-width: 600px;
}
.IndividualArticle h3 {
  align-content: center;
}
.IndividualArticle p {
  text-align: justify;
}
.Recent_Articles {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  align-content: center;
  padding: 0;
  text-align: justify;
}
.commentsContainer {
  padding-left: 0;
  align-content: center;
}
.comments {
  width: 500px;
  align-content: center;
  text-align: justify;
  margin: 20px;
  font-size: small;
  color: rgb(104, 104, 104);
}
.commentsbody {
  padding: 10px;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: green;
  color: black;
}
.comments p {
  margin: 0;
}
.commentsspan {
  font-size: large;
  text-decoration: underline;
}
.commentsspan :hover {
  color: green;
}
